body {
  margin: 0px auto;
  max-width: 800px;

  color: #333;
  font-family: 'Helvetica', 'Droid Sans', 'Arial', sans-serif;
}


rect {
  shape-rendering: crispEdges;
}


path {
  fill-opacity: 0.8;
  stroke: #343;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

path:hover {
  fill-opacity: 0.6;
}
